<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" href="../../static/TBSlogo.png" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link rel="stylesheet" href="../../static/common.css" />
    <title>ThinkingBeforeSpeak</title>
  </head>
  <body>
    <header>
      <div class="inner">
        <a href="#" class="logo">
          <img
            class="logo__img"
            src="../../static/TBSlogo.png"
            alt="TBSLogo"
          />

            <ul class="submenu">
                <li><a href="#">메시지 참견</a></li>
                <li><a href="#">맞춤법 검사기</a></li>
                <li><a href="#">번역기</a></li>
            </ul>
        </a>

        <ul class="login_submenu">
          <li><a href="#">로그인</a></li>
        </ul>
      </div>
    </header>

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>